.ui.grid
    .ui.sixteen.wide.column
        footer.footer-distributed
            .footer-right
                a(href="#")
                    i.fa.fa-facebook
                a(href="#")
                    i.fa.fa-twitter
                a(href="#")
                    i.fa.fa-linkedin
                a(href="#")
                    i.fa.fa-github
            .footer-left
                p.footer-links
                    a(href="#")|Home
                    |路
                    a(href="#")|Faq
                    |路
                    a(href="#")|About
                    |路
                    a(href="#")|Contact
                    |路
