.ui.simple.icon.dropdown.item
    i.user.icon
    h4#logout Logout
    i.dropdown.icon
    .menu(style="min-width:200px;")
        .item My Inbox
            i.inbox.icon
        .divider(style="margin:0")
        .item My Jobs
            i.tasks.icon
        .item My Files
            i.file.icon
