#header-right.container
    i#homepage.large.home.icon(style="margin-right:10px;")
    #user
        i.large.user.icon(style="margin-right:0.4em;margin-top:-2px;")
        h4 {{username}}
    #inbox
        i.large.alarm.outline.icon
        .ui.blue.circular.floating.label(style="visibility:hidden;")
    #logout
        h4(style="text-decoration:underline;") Logout
