#login.ui.middle.aligned.center.aligned.grid
  .six.wide.column
    #logoContainer.ui.basic.segmen
      h2.ui.teal.image.header.container
        img.ui.middile.aligned.image(src="images/logo.png",style="margin-top:-0.6em")
        span(style="margin-left:1em;font-size:1.4em;color:white;") Log as a Service
    form.ui.large.form
      .ui.stacked.segment(style="padding:50px 31px;border-radius:0")
        .field
          .ui.left.icon.input
            i.user.icon
            input(type="text",name="name",placeholder="User Name",value="admin",style="border-radius:0;")
        .field
          .ui.left.icon.input
            i.lock.icon
            input(type="password",name="password",placeholder="Password",value="password",style="border-radius:0;")
        .ui.fluid.large.teal.button(style="margin-top:50px;") Login
      .ui.error.message
    .ui.message(style="border-radius:0;") New to Us?
      a#signUp(href="#")
        |Sign Up Now

