#navigator.ui.left.fluid.vertical.menu(style="background-color:rgba(144, 238, 144, 0.27);")
    .item
        .header Service Manager
        .menu
            a.item(href="/jobnew") Create Job
            a.item(href="#") Run Job
            a.item(href="/jobs") Popular Jobs
            a.item(href="/scenarios") Popular Scenarios
            a.item(href="/tasks") Popular Tasks
    .item
        .header Dashboard
        .menu
            a.item(href="/files/me") My Log Files
            a.item(href="#") My Jobs
            a.item(href="#") Running History
            a.active.item#inboxMenuItem(href="/notifications/me") Inbox
                .ui.blue.pointing.left.label 0
    |{{#if isAdmin}}
    .item
        .header Administration
        .menu
            a.item(href="/usernew") Add User
    |{{/if}}
