#navigator.ui.left.fluid.teal.inverted.vertical.menu
    .item
        .header Service Manager
        .menu
            a.item Create Job
            a.item Run Job
            a.item Popular Jobs
            .item(style="margin-top:10px;")
                .ui.icon.input
                    input(type="text",placeholder="Search Jobs",style="border-radius:14px;")
                    i.search.link.icon
    .item
        .header My Dashboard
        .menu
            a.item My Log Files
            a.item My Jobs
            a.item Running History
            a.active.item Inbox
                .ui.blue.pointing.left.label 1
    .item
        .header Administration

