#navigator.ui.left.fluid.vertical.menu(style="box-shadow:none;border:0;")
    .item
        .header Service Manager
        .menu
            a.item(href="/jobnew") Create Job
            a.item(href="/jobHistory") Job Running History
            a.item(href="/jobs") Popular Jobs
            a.item(href="/scenarios") Popular Scenarios
            a.item(href="/workflows") Popular Workflows
            a.item(href="/tasks") Popular Tasks
    .item
        .header Dashboard
        .menu
            a.item(href="/files/me") My Log Files
            a.item(href="#") My Jobs
            a.item(href="#") Running History
            a.active.item#inboxMenuItem(href="/notifications/me") Inbox
                .ui.blue.pointing.left.label(style="visibility:hidden")
    |{{#if isAdmin}}
    .item
        .header Administration
        .menu
            a.item(href="/usernew") Add User
    |{{/if}}
