.ui.centered.grid
    .fourteen.wide.column
        .ui.green.segment(style="margin-top:5px;padding:75px 60px;")
            form.ui.large.form
                .two.fields
                    .one.wide.field(style="text-align: right;")
                        i.big.check.circle.teal.icon
                    .eight.wide.field
                        h2 Registered Successfully
                .fields(style="margin-top:1.5em;")
                    .ten.wide.field(style="padding-top: 1em;")
                        label Welcome to LaaS platform!
                .fields
                fields
                    .eight.wide.field(style="padding-top: 1em;")
                        label If you encounter any problems or would like to suggest a product requirement, please contact laas_support@hpe.com
                .four.center.fields
                    .field
                    .field
                    .field
                    .field
                        .ui.teal.fluid.button(href="/login",style="margin-top: 2em; margin-left: -5.5em;")#backLogin|Back to login page