.ui.centered.grid
    .fourteen.wide.column
        .ui.green.segment(style="margin-top:5px;padding:75px 60px;")
            form.ui.large.form#regForm
                    .two.fields
                        .one.wide.field(style="text-align: right;")
                            i.big.teal.user.icon
                        .eight.wide.field
                            h2 Create new account
                    .two.fields
                        .three.wide.field
                        .eight.wide.field
                            .ui.error.message
                    .required.inline.field
                            label(style="width:222px;text-align: right") UserName
                            input(type="text",name="name",placeholder="UserName", size="70")
                    .inline.field
                            label(style="width:222px;text-align: right") Email
                            input(type="text",name="email",placeholder="Email", size="70")
                    .required.inline.field
                            label(style="width:222px;text-align: right") Password
                            input(type="password",name="password",placeholder="Password", size="70")
                    .required.inline.field
                            label(style="width:222px;text-align: right") Confirm Password
                            input(type="password",name="confirmpassword",placeholder="input your password again", size="70")
                    .four.center.fields
                        .field
                        .field
                            .ui.teal.fluid.button(style="margin-top: 2em; margin-left: -5.5em;")#register Register
                        .field
                            .ui.teal.fluid.button(href="/login",style="margin-top: 2em; margin-left: -5.5em;")#cancel Cancel