form.ui.form.segment
    p
        |Tell us about yourself
    .two.fields
        .field
            label
                |name
            input(type="text",name="name",placeholder="First Name",value="Peter Zhang")

    .ui.blue.submit.button
                |Submit