.ui.centered.one.column.grid(style="margin-top:5%;")
    .ui.divided.items
        .item
            .image(src="../../images/logo.png")
            .content
                a.header {{id}}  {{name}}
                .meta
                    span.cinema Union
                .description
                .extra
                    .ui.label Max
                    .ui.label
                        i.globe.icon Addtional