.ui.grid
    .ui.centered.fourteen.wide.column
        table.ui.striped.table
            thead
                tr
                    th Task ID
                    th Task Name
                    th Task Description
                    th Action
            tbody
                |{{#each tasks}}
                tr
                    td {{id}}
                    td {{name}}
                    td {{description}}
                    td
                        button.ui.teal.button.task-show(id="{{id}}")(data-id="{{id}}") Detail
                |{{/each}}
