<h2 class="ui header">
  <img class="ui image" src="/images/icons/school.png">
  <div class="content">
    Top 50 records:
  </div>
</h2>
<div style="width=95%">
         {{#each task_running_result}}
         <div class="ui green segment">
         {{lineNumber}} {{file.name}} {{content}}
         </div>
         {{/each}}

</div>