.ui.grid
    .ui.centered.fourteen.wide.column
        .ui.green.segment(style="margin-top:5px;padding:20px 40px;")
            h2#title Job Running History
            table.ui.striped.table
                thead
                    tr
                        th ID
                        th Job Name
                        th Status
                        th User
                        th Execute Date
                        th Action
                tbody
                    |{{#each jobRunnings}}
                    tr
                        td {{id}}
                        td {{jobName}}
                        td {{status}}
                        td {{user}}
                        td {{runningTime}}
                        td
                            button.ui.teal.tiny.button.jobRunning-show(id="{{id}}")(data-id="{{id}}") Detail
                            button.ui.teal.tiny.button.jobRunning-viewResult(id="{{id}}")(data-id="{{id}}",style="margin-left:20px") View Result
                            //button.ui.teal.button.jobRunning-rerun(id="{{id}}")(data-id="{{id}}") Re-Run
                    |{{/each}}

