.item
    .content
        .ui.grid
            .ui.two.column.row(style="margin-top:10px;margin-bottom:10px;")
                .column
                    a {{name}}
                .right.aligned.column
                    a {{size}}

