.ui.centered.grid
    .fourteen.wide.column
        .ui.green.segment(style="margin-top:5px;padding:20px 40px;")
            #errors(style="display:none")
            h2#title New File
            form.ui.form(action="/upload",method="post",enctype="multipart/form-data")
                .four.fields
                    .field
                        label File Type
                        select.ui.dropdown(id="fileType", name="fileType")
                            option(value="")
                                |Select File Type
                            |{{#each fileTypes}}
                            option(value="{{id}}") {{type}}
                            |{{/each}}

                .field
                    label Job Description
                    textarea(type="text",rows="5",name="desc",placeholder="description") {{description}}
                .ui.grid(style="margin-top:2em")
                    .five.column.row
                        .column
                            .ui.teal.fluid.left.labeled.icon.button#attaching Attaching Files&nbsp;&nbsp;....
                                i.attach.icon
                        .column
                            .ui.teal.fluid.left.labeled.icon.button#upload Upload
                                i.cloud.upload.icon
                        .column
                            .ui.teal.fluid.left.labeled.icon.button#upload_cancel Cancel
                                i.reply.icon
                    .row
                        .eight.wide.column
                            .ui.divided.list
                    .row
                        .eight.wide.column
                            #progress.ui.teal.large.progress(style="margin-top:20px;",data-percent="0")
                                .bar
