.ui.centered.grid
    .fourteen.wide.column
        .ui.error.message#errors(style="display:none")
        .ui.green.segment(style="margin-top:5px;padding:75px 60px;")
            h2#title(style="margin-top: -30px;margin-bottom: 30px;;") Job Detail
            form.ui.form
                .two.fields
                    .field
                        label Job Name
                        input(type="text",name="name",placeholder="name",value="{{name}}")
                    .field
                        label Service
                        select.ui.dropdown(id="selectedScenario", name="selectedScenario")
                            option(value="{{selectedid}}") {{selectedname}}
                            |{{#each scenarioList}}
                            option(value="{{id}}") {{name}}
                            |{{/each}}
                .field
                    label Job Description
                    textarea(type="text",rows="3",name="description",placeholder="description", value="{{description}}"){{description}}
                #inputParameters
                .field
                .two.fields
                    .field
                        .four.fields
                            .field
                                label Files
                            .field
                                #add.symbol
                                    i.green.plus.icon(style="cursor: pointer;transform:scale(1.5);")#add_file
                            .field
                    .field
                        //.ui.teal.large.fluid.button#add_file <i class="plus icon"></i>
                .field
                    #files
                    #paging(style="text-align:right;margin-top:0em;")
                .three.fields(style="margin-top:100px;margin-bottom:70px;")
                    .field(style="padding-left:50px;")
                    .field
                        .ui.teal.large.fluid.button#job_run Save & Run
                    .field
