.ui.centered.grid
    .twelve.wide.column
        .ui.green.segment(style="margin-top:5px;padding:20px 40px;")
            h2#title Job Detail
            form.ui.form
                .two.fields
                    .field
                        label Job Name
                        input(type="text",name="name",placeholder="name",value="{{name}}")
                    .field
                        label Job Scenario
                        select.ui.dropdown(id="selectedScenario", name="selectedScenario")
                            option(value="{{selectedid}}") {{selectedname}}
                            |{{#each scenarioList}}
                            option(value="{{id}}") {{name}}
                            |{{/each}}
                .field
                    label Job Description
                    textarea(type="text",rows="3",name="description",placeholder="description", value="{{description}}"){{description}}
                #parameters
                .field
                .two.fields
                    .field
                        .four.fields
                            .field
                                label Files
                            .field
                                #add.symbol(style="transform:scale(1.5);")
                                    <i id="add_file" class="green plus icon"></i>
                            .field
                    .field
                        //.ui.teal.large.fluid.button#add_file <i class="plus icon"></i>
                .field
                    .ui.divided.list
                        |{{#each files}}
                        <div id="fileitem_{{id}}">
                        .item
                            .content
                                .ui.grid
                                    .ui.ten.column.row(style="margin-top:10px;margin-bottom:10px;")
                                        .column
                                            label {{originalName}}
                                        .column
                                        .column
                                        .column
                                        .column
                                        .column
                                        .column
                                        .column
                                        .right.aligned.column
                                            //<div id="remove_file" class="ui teal large fluid button" value="{{id}}"><i class="minus icon"></i></div>
                                            #remove.symbol(style="transform:scale(1.5);")
                                                <i id="remove_file" value="{{id}}" class="green minus icon"></i>
                                        .column
                        </div>
                        |{{/each}}
                .two.fields(style="margin-top:100px;margin-bottom:70px;")
                    .field(style="padding-right:50px;")
                         .ui.teal.large.fluid.button#job_save Save
                    .field(style="padding-left:50px;")
                         .ui.teal.large.fluid.button#job_run Save & Run
