.two.fields
    .field
        label User
        input(type="text",name="user",placeholder="",value="{{user}}") |{{user}}
    .field
.two.fields
    .field
        label From
        input(type="text",name="startTime",placeholder="",value="{{startTime}}") |{{startTime}}
    .field
        label To
        input(type="text",name="endTime",placeholder="",value="{{endTime}}") |{{endTime}}
