.ui.centered.grid
    #result1.row(style="max-height:600px")
        .ui.sixteen.wide.column
           .ui.segment.teal
               object(height="1000")#content-placeholder
    #result2.row(style="max-height:400px")
        object(height="600")#context