.two.fields
    .field
        label N
        input(type="text",name="N",placeholder="50",value="{{N}}") {{N}}
    .field
        label Order
        select.ui.dropdown(name="order")
            option(value="desc", selected="desc") DESC
            option(value="asc", selected="asc") ASC
.two.fields
    .field
        label Category
        select.ui.dropdown(name="category")
            option(value="DBQUERY", selected="DBQUERY") DBQUERY
            option(value="SCRIPTTRACE", selected="SCRIPTTRACE") SCRIPTTRACE
