
// build:js(.) /scripts/backbone.js
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/underscore/underscore.js")
script(src="/bower_components/backbone/backbone.js")
script(src="/bower_components/backbone.babysitter/lib/backbone.babysitter.js")
script(src="/bower_components/backbone.wreqr/lib/backbone.wreqr.js")
script(src="/bower_components/marionette/lib/core/backbone.marionette.js")
script(src="/bower_components/marionette.backbone.syphon/lib/backbone.syphon.js")
script(src="/bower_components/handlebars/handlebars.runtime.js")
// endbuild

script(src="/bower_components/semantic/dist/semantic.min.js")

// build:js(.) /scripts/plugins.js
script(src="/bower_components/toastr/toastr.js")
script(src="/bower_components/twbs-pagination/jquery.twbsPagination.js")
// endbuild

