.ui.grid
    .ui.centered.fourteen.wide.column
        .ui.green.segment(style="margin-top:5px;padding:20px 40px;")
            h2#title Workflow List
            table.ui.striped.table
                thead
                    tr
                        th Workflow ID
                        th Workflow Name
                        th Workflow Description
                        th Action
                tbody
                    |{{#each workflows}}
                    tr
                        td {{id}}
                        td {{name}}
                        td {{description}}
                        td
                            button.ui.teal.tiny.button.workflow-show(id="{{id}}")(data-id="{{id}}") Detail
                    |{{/each}}