.ui.centered.grid
    .fourteen.wide.column
        .ui.green.segment(style="margin-top:5px;padding:75px 60px;")
            h2#title Scenario Detail
            form.ui.form
                .two.fields
                    .field
                        label Scenario Name
                        input(type="text",name="name",placeholder="name",value="{{name}}")
                    .field
                        label Product
                        select.ui.dropdown(id="selectedProduct", name="selectedProduct")
                            |{{#each productList}}
                            option(value="{{id}}") {{name}}
                            |{{/each}}
                .field
                    label Scenario Description
                    textarea(type="text",rows="3",name="description",placeholder="description", value="{{description}}"){{description}}
                .field
                .two.fields
                    .field
                        .four.fields
                            .field
                                label Tasks
                            .field
                                #add.symbol
                                    i.green.plus.icon(style="cursor: pointer;transform:scale(1.5);")#add_task
                            .field
                    .field
                .field
                    #tasks
                    #paging(style="text-align:right;margin-top:0em;")
                .two.fields
                    .field
                        label Parameters
                    .field
                        label File Type
                .two.fields
                    .field
                        .ui.divided.list
                            |{{#each parameterDefines}}
                            .item
                                .content
                                    .ui.grid
                                        .ui.one.column.row(style="margin-top:10px;margin-bottom:10px;")
                                            .column
                                                {{name}}
                            |{{/each}}
                    .field
                        .ui.divided.list
                            |{{#each fileTypes}}
                            .item
                                .content
                                    .ui.grid
                                        .ui.one.column.row(style="margin-top:10px;margin-bottom:10px;")
                                            .column
                                                {{type}}
                            |{{/each}}
                .two.fields(style="margin-top:100px;margin-bottom:70px;")
                    .field(style="padding-right:50px;")
                        .ui.teal.large.fluid.button#scenario_save Save
                    .field(style="padding-left:50px;")
                        .ui.teal.large.fluid.button#scenario_cancel Cancel