.ui.grid
    .ui.centered.twelve.wide.column
        .ui.green.segment(style="margin-top:5px;padding:20px 40px;")
            h2#title Scenario List
            table.ui.striped.table
                thead
                    tr
                        th Scenario ID
                        th Scenario Name
                        th Scenario Description
                        th Action
                tbody
                    |{{#each scenarios}}
                    tr
                        td {{id}}
                        td {{name}}
                        td {{description}}
                        td
                            button.ui.teal.tiny.button.scenario-show(id="{{id}}")(data-id="{{id}}") Detail
                    |{{/each}}