.ui.centered.grid
   .twelve.wide.column
      .ui.green.segment(style="min-height:600px;")
         h2 My Notifications
         .ui.divider
         #content
         #paging(style="text-align:center;margin-top:300px;")