.ui.centered.grid
   .twelve.wide.column
      .ui.green.segment(style="min-height:600px;padding:40px 50px;")
         h2(style="color:#01A982;") My Notifications
         #notificationMenu.ui.secondary.pointing.menu(style="margin-top:20px;")
            a#NEW.active.item(style="padding-left:0;font-size:17px;color:#614767;") New
            a#ALL.item(style="margin-left:25px;font-size:17px;color:#614767;") All
         #content
         #pagingWrapper(style="text-align:center;margin-top:300px;")
            #paging