doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport",     content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css({.,.tmp}) styles/main.css
    link(rel="stylesheet", href="/bower_components/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="/bower_components/toastr/toastr.css")
    link(rel="stylesheet", href="/bower_components/semantic/dist/semantic.min.css")
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild

    title Log as a Service
  body.laas
    .container
      #header
      #nav
      #main
      //#aside
      #footer
    #login-dialog
    #register-dialog

  include ./lib/_library

  // build:js({app,.tmp}) scripts/app.js
  script(src="/handlebars/precompiled.handlebars.home.js")
  script(src="/scripts/app.js")
  script(src="/scripts/modules/utils.js")
  script(src="/scripts/entity/task.js")
  script(src="/scripts/entity/job.js")
  script(src="/scripts/entity/scenario.js")
  script(src="/scripts/entity/file.js")
  script(src="/scripts/view/fileupload.js")
  script(src="/scripts/modules/home.js")
  script(src="/scripts/modules/login.js")
  script(src="/scripts/modules/task.js")
  script(src="/scripts/modules/scenario.js")
  script(src="/scripts/modules/file.js")
  script(src="/scripts/modules/user.js")
  script(src="/scripts/modules/job.js")
  // endbuild
  script
    |LaaS.start();

