doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport",     content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css({.,.tmp}) /styles/main.css
    link(rel="stylesheet", href="/bower_components/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="/bower_components/toastr/toastr.css")
    link(rel="stylesheet", href="/bower_components/semantic/dist/semantic.min.css")
    link(rel="stylesheet", href="/styles/main.css")
    // endbuild

    title Log Analysis As Service
  body.laas
    #header
    #main
    r#footer
    #login-dialog
    #register-dialog

  include ./lib/_library

  // build:js({app,.tmp}) /scripts/app.js
  script(src="/handlebars/precompiled.handlebars.home.js")
  script(src="/scripts/app.js")
  script(src="/scripts/entity/task.js")
  script(src="/scripts/modules/home.js")
  script(src="/scripts/modules/login.js")
  script(src="/scripts/modules/task.js")
  script(src="/scripts/modules/user.js")
  // endbuild
  script
    | LaaS.start();

