.ui.centered.grid
    .fourteen.wide.column
        .ui.green.segment(style="margin-top:5px;padding:20px 40px;")
            h2#title File List
            #content.container
            #paging(style="text-align:center;margin-top:0em;")
            #buttons.buttons
