form.ui.form
    .field
    .two.fields
        .field(style="padding-right:50px;")
            .ui.teal.small.fluid.button#upload_my_files Add Files...
        .field(style="padding-left:50px;")
            .ui.teal.small.fluid.button#delete_my_files(style="margin-left:20px") Delete