form.ui.form
    .field
    .five.fields
        .field
        .field
            .ui.teal.small.fluid.button#upload_my_files Add Files...
        .field
        .field
            .ui.teal.small.fluid.button#delete_my_files Delete
        .field