table.ui.compact.celled.definition.table
    thead.full-width
        tr
            th.one.wide

            th
                |Name
            th.two.wide
                |Size
            th.three.wide
                |Type
    tbody
        |{{#each files}}
        tr
            td(style="text-align:center")
                |<input id="file_checkbox_{{id}}" type="checkbox" {{checked}}/>
            td
                |{{originalName}}
            td
                |{{size}}KB
            td
                |{{type.type}}
        |{{/each}}
    tfoot.full-width
        tr
            th
            th(colspan="3")
                .ui.teal.small.button#upload_my_files Add Files...
                .ui.teal.small.button#delete_my_files(style="margin-left:20px") Delete