form.ui.form
    .field
    .five.fields
        .field(style="padding-left:50px;")
            .ui.teal.small.fluid.button#upload_file Add Files...
        .field
        .field(style="padding-center:50px;")
            .ui.teal.small.fluid.button#select_file OK
        .field
        .field(style="padding-right:50px;")
            .ui.teal.small.fluid.button#select_file_cancel(style="margin-left:20px") Cancel
