table.ui.compact.celled.definition.table
    thead.full-width
        tr
            th.one.wide

            th
                |Name
            th.two.wide
                |Size
            th.three.wide
                |Type
    tbody
        |{{#each files}}
        tr
            td.collapsing
                |<input id="file_checkbox_{{id}}" type="checkbox" {{checked}}/>

            td
                |{{originalName}}
            td
                |{{size}}KB
            td

        |{{/each}}
    tfoot.full-width
        tr
            th
            th(colspan="3")
                .ui.teal.small.button#select_file OK
                .ui.teal.small.button#select_file_cancel Cancel
