#login {
    .column {
        max-width:450px;
        margin-top:10%;
    }
    #logoContainer{
        margin-bottom:20px;
        text-align:left;
        .content {
            padding-left:4rem;
            font-size:xx-large;
        }
    }
    #signUp {
        margin-left:1rem;
    }
}
