@charset "UTF-8";

@import "login";

body {
   background-color: white;
}
.laasbody{
    #header {
        min-height:50px;
        background-color: #3AA2AD;
        background-image: url(../images/laas_logo.png);
        background-repeat: no-repeat;
        background-position: left;
        .dropdown.item {
            color:white;
            float:right;
            margin-top:15px;
            margin-right:150px;
        };
        .user.icon {
            margin-right:10px;
        };
        .dropdown.icon {
            margin-left:5px;
        };
        h4#logout {
            display:inline;
        };
        .menu .icon {
            float:right;
        }

    }
    .content {
        margin-top:-2em;
    }
    #footer {
        margin-top:-1em;
        min-height:100px;
        background-color:lightgray;
    }
    #main {
        padding-top:75px;
    }
}

.toast-top-center {
    top:75px;
}


#navigator.menu {
    min-height:800px;
    font-size: larger;
    padding-top: 15px;
    padding-left:5px;
    border-radius:0;
}
