@charset "UTF-8";

@import "login";

body {
   background-color: white;
}

.laasbody{
    #header {
      min-height:60px;
      background-color: #01A982;
      background-image: url(../images/laas_logo.png);
      background-repeat: no-repeat;
      background-position: 20px 7px;
        #header-right {
            color:white;
            float:right;
            margin-top:20px;
            margin-right:50px;
            #user{
              display: inline;
              border-right-style: solid;
              border-right-color: white;
              padding-right: 0.8em;
              border-right-width: 2px;
            }
            #logout {
                margin-left: 1.1em;
                cursor:pointer;
                border-left-style: solid;
                border-left-color: white;
                padding-left: 1em;
                border-left-width: 2px;
            }
            #inbox{
                display: inline;
                margin-left:1.2em;
                .label {
                  position:absolute;
                  min-width:1em;
                  min-height:1em;
                  line-height:0.5em;
                  left:auto;
                  top:auto;
                  margin:-0.4em 0 0 -1.1em!important
                }
            };
            h4,#settings {
                display:inline;
                font-size:1.2rem;
            };
            .menu .icon {
                float:right;
            }
        };

        #logout,#settings {
            display:inline;
        };
        .menu .icon {
            float:right;
        }

    }
    .content {
        margin-top:-2em;
    }
    #footer {
      min-height:50px;
      .footer-distributed{
        background-color: #CCCCCC;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: normal 16px sans-serif;

        padding: 45px 50px;
        margin-top: 80px;
      }

      .footer-distributed .footer-left p{
        color:  #8f9296;
        font-size: 14px;
        margin: 0;
      }

      /* Footer links */

      .footer-distributed p.footer-links{
        font-size:18px;
        font-weight: bold;
        color:  #ffffff;
        margin: 0 0 10px;
        padding: 0;
      }

      .footer-distributed p.footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
      }

      .footer-distributed .footer-right{
        float: right;
        margin-top: 6px;
        max-width: 180px;
      }

      .footer-distributed .footer-right a{
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color:  #617D78;
        border-radius: 2px;

        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;

        margin-left: 3px;
      }

      /* If you don't want the footer to be responsive, remove these media queries */

      @media (max-width: 600px) {

        .footer-distributed .footer-left,
        .footer-distributed .footer-right{
          text-align: center;
        }

        .footer-distributed .footer-right{
          float: none;
          margin: 0 auto 20px;
        }

        .footer-distributed .footer-left p.footer-links{
          line-height: 1.8;
        }
      }
    }
    #main {
        padding-top:50px;
    }

}

.toast-top-center {
    top:50px;
}
#navigator.menu {
  background-color: #A0F3E9;
  min-height:960px;
  font-size: larger;
  padding-top: 15px;
  padding-left:5px;
  border-radius:0;
}

.laas-card {
  width:250px !important;
  height:180px !important;
  margin-left:25px !important;
}

.laas-card:first-child {
  width:250px !important;
  height:180px !important;
  margin-left:12px !important;
}

.laas-card .icon {
  float:left;
}



